{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
    <p>A partner of your company has requested to build a software application that will predict the
      rate of the fuel based on the following criteria:</p>
      <br></br>
    - Client Location<br></br>
    - Competitors rate<br></br>
    - Client rate history<br></br>
    - Client rate history<br></br>
    - Gallons requested<br></br>
    - Company profit margin (%)<br></br>
    - Seasonal rate fluctuation (%)<br></br>
    <br></br>
    Software must include following components:<br></br>
    - Login (Allow Cleint to register if not a client yet)<br></br>
    - Cleint Registration (Initially only username and Password)<br></br>
    - Client Profile Management (After client registers they should login first to complete profile)<br></br>
    - Fuel Quote Form with Pricing module (Once user enters all required information pricing module predicts the rate)<br></br>
    - Fuel Quote History<br></br>
{% endblock %}
