{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>You have been asked to build an admin portal that will allow your company internal employees to access the portal and perform admin functions on behalf of company clients.<br></br>
    Here are additional details:
    <br></br>
    (a) Application is accessible only on company network. <br></br>
    (b) Access to the links is role based i.e. only authenticated internal admins are able to access the portal and what links you can access once on the portal is determined based on what roles you have. So, same link will not be visible to other admin who doesn't have appropriate role to access the link.<br></br>
    (c) There are some global links that are available to all admins.<br></br>
    (d) The links redirect users to the admin application that is not developed by you.</p>
{% endblock %}
