{% extends 'companylayout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

<form method="POST" action="">
  <div class="form-group"> 
      {{ render_field(form.pricechange, class_="form-control") }}
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" name="action">

<h1>Client Fuel Quote History:</h1>
  <br></br>
<table class="table table-striped">
    <tr>
      <th>Full Name</th>
      <th>Gallons Requested</th>
      <th>Amount Due</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
          <td>{{article.fullname}}</td>
          <td>{{article.gallonsrequested}}</td>
          <td>{{article.amountdue}}</td>
          <td>{{article.date}}</td>
      </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
