{% extends 'layout.html' %}

{% block body %}
<h1>Your Fuel Quote History:</h1>
  <br></br>
<table class="table table-striped">
    <tr>
      <th>Gallons Requested</th>
      <th>Suggested Price</th>
      <th>Amount Due</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
          <td>{{article.gallonsrequested}}</td>
          <td>{{article.suggestedprice}}</td>
          <td>{{article.amountdue}}</td>
          <td>{{article.date}}</td>
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">View</a></td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
