{% extends 'layout.html' %}

{% block body %}
  <h1>Fuel Quote Form</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.gallons_requested, class_="form-control") }}
    </div>
    <div>
      <strong>
          Delivery Address: 
      </strong>
      {{ article.address1 }}
      <br></br>
    </div>
    <div class="input-field col s6">
      <strong>
          Delivery Date:
      </strong>
        {{ form.dt(class="dtpick") }}
      </div>
      <br></br>
    <div class="form-group">
        <strong>
          <p align="right">Price Per Gallon:
        </strong>
        {{ PricePerGallon }} * {{ gallonsrequested }} = <font color="red">{{ ppgalon }}</font></p>
    </div>
    <div class="form-group">
        <strong>
          <p align="right"> Profit Margin: 
        </strong>
           0.1 * {{ gallonsrequested }} = <font color="red">{{ profitMargin }}</font></p>
      </div>
      <div class="form-group">
        <strong>
          <p align="right">Transportation: 
        </strong>
        {% if Transportation == 0.0 %}
          0.9 * {{ gallonsrequested }}  = <font color="red">0</font>

        {% else %}
          0.9 * {{ gallonsrequested }}  = <font color="red">{{ Transportation }}</font>
        {% endif %}
      </p>
      </div>
      <div class="form-group">
        <strong>
          <p align="right">Client Discount (5 purchases or more only 1%-10%): 
        </strong>
        <font color="green">{{ clientratehistory }}</font>
      </p>
      </div>
      <div class="form-group">
        <strong>
          <p align="right">Seasonal Discount: 
        </strong>
        <font color="green">{{ SeasonFluctuation }}</font>
      </p>
      </div>
      <div class="form-group">
        <strong>
          <p align="right">Total Amount Due: 
        </strong>
          {{ FuelPrice }}
      </p>
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
